# Ignore node_modules directories
client/node_modules
server/node_modules
node_modules

# Ignore build directories
client/build
server/build

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore server archive folder
server/archive
client/archive