/* Dashboard.css */
.dashboard {
  display: flex;
  height: 100vh;
  color: #f5f5f5;
  background-color: #2d2d30;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.navbar {
  width: 100px; /* Keep navbar width */
  background-color: #3d3c42;
  color: #c0bfc7;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.dashboard-main {
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Hide horizontal overflow */
  overflow-y: auto; /* Allow vertical scrolling if necessary */
}

.welcome-banner {
  background-color: #504e55; /* Muted dark purple background */
  padding: 20px;
  margin-bottom: 10px; /* Space between welcome banner and action section */
}

.button {
  padding: 10px 20px;
  background-color: #5c5876; /* Muted purple for buttons */
  border: 1px solid #6e6a7e; /* Slightly lighter border for visibility */
  color: #ffffff;
  cursor: pointer;
}

.job-application-history {
  flex-grow: 1;
  background-color: #333336; /* Slightly lighter grey for the history section */
  padding: 20px;
  overflow-y: auto; /* Scrollable content for history section */
}

/* Additional styling for the history list items, inputs, and buttons goes here */
