/* css/JobApplicationHistory.css */
.job-application-history {
    width: 100%;
  }
  
  .history-section {
    display: flex;
    flex-direction: column;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between; /* Space the header items evenly */
    background-color: #f2f2f2; /* Consider a darker shade if needed */
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0 0; /* Rounded corners at the top */
    color: #333; /* Dark color for text, update as needed for contrast */
  }
  
  .header-item {
    flex-grow: 1;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
  }
  