.job-application-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #39373d; /* Slightly different background for section differentiation */
  }
  
  .url-input-section {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between the URL input and the Auto Add button */
  }
  
  .url-input {
    width: 400px; 
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #444;
    background-color: #2d2d30; /* Matching the dashboard theme */
    color: #ffffff;
  }
  
  button {
    padding: 10px 10px; /* Padding inside the buttons */
    cursor: pointer;
    border-radius: 8px;
    background-color: #504E55; /* Light grey background */
    /* Add additional styles for your buttons here */
  }
  
  /* Additional styles to make the buttons look more distinct */
  button:hover {
    background-color: #6b6a6c; /* Light grey background on hover */
  }
  
  .url-input::placeholder {
    color: #888787; /* Lighter text for placeholder */
  }
  