/* JobApplicationRow.css */
.job-application-row {
  display: flex;
  justify-content: space-between; /* This will space the items evenly */
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  color: #333;
}

.row-item {
  flex: 1;
  text-align: center; /* This will center-align the text within each row item */
  padding: 0 10px;
}
