/* css/JobApplicationHistory.css */
.job-application-history {
    width: 100%;
  }
  
  .history-section {
    display: flex;
    flex-direction: column;
  }
  
  .table-header {
    display: flex;
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px 10px 0 0; /* Add rounded corners to the top */
  }
  
  .header-item {
    flex: 1;
    text-align: left;
    padding: 0 10px; /* Add horizontal padding to the header items */
  }