/* JobApplicationHistory.css */
.job-application-history {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.history-section {
    display: flex;
    flex-direction: column;
}

.table-header {
    display: flex;
    padding: 10px;
}

.header-item {
    flex-grow: 1;
    text-align: center;
    padding: 0 10px;
}
