/* Navbar.css */
.navbar {
    width: 100px;
    background-color: #3d3c42;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
  }
  
  .navbar-spacer {
    flex-grow: 1;
  }