/* NavbarButton.css */

.navbar-button {
    color: #ffffff;
    background-color: transparent; /* Inherit from navbar */
    border: none;
    border-bottom: 1px solid #504e55; /* Separator between buttons */
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Ensure it fills the width of the navbar */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }
  
  .navbar-button:hover {
    background-color: #5c5876; /* Highlight on hover */
  }
  
  .navbar-button.logout {
    margin-top: auto; /* Push to the bottom */
    border-top: 1px solid #504e55; /* Separator on top */
    border-bottom: none; /* Remove bottom border for last item */
  }
  