/* NavbarButton.css */
.navbar-button {
    color: #ffffff;
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
    position: relative;
  }
  
  .navbar-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    height: 1px;
    background-color: #504e55;
  }
  
  .navbar-button:hover {
    background-color: #5c5876;
  }
  
  .navbar-button.dashboard {
    margin-bottom: 20px; /* Add spacing below the dashboard button */
  }
  
  .navbar-button.logout {
    margin-top: auto;
  }
  
  .navbar-button.logout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    height: 1px;
    background-color: #504e55;
  }